<div class="w-full h-screen overflow-scroll" [ngClass]="{'dark': darkMode}">
  <div class="flex justify-center pt-5">
    <div class=" w-[400px] md:w-[600px] lg:w-[1000px]  h-[400px] rounded-xl overflow-hidden">
      <div class="flex w-[3000px] h-[400px]">
        <img class="w-[1000px] h-[400px] object-fit transition-transform duration-700" src="assets/motos/moto1.jpg"
          [ngClass]="{'-translate-x-[100%]': imgIndex == 2}"
          [ngClass]="{'-translate-x-[200%]': imgIndex == 3}"
        >
        <img class="w-[1000px] h-[400px] object-fit transition-transform duration-700" src="assets/motos/moto2.jpeg"
          [ngClass]="{'-translate-x-[100%]': imgIndex == 2}"
          [ngClass]="{'-translate-x-[200%]': imgIndex == 3}"
        >
        <img class="w-[1000px] h-[400px] object-fit transition-transform duration-700" src="assets/motos/moto3.jpg"
          [ngClass]="{'-translate-x-[100%]': imgIndex == 2}"
          [ngClass]="{'-translate-x-[200%]': imgIndex == 3}"
        >
      </div>
      <div class="flex -translate-y-5 justify-center items-end">
        <div class="mx-2 mb-3 px-4 py-[5px] rounded-xl cursor-pointer bg-white" (click)="imgIndex = 1" [ngClass]="{'opacity-60': imgIndex != 1}"></div>
        <div class="mx-2 mb-3 px-4 py-[5px] rounded-xl cursor-pointer bg-white" (click)="imgIndex = 2" [ngClass]="{'opacity-60': imgIndex != 2}"></div>
        <div class="mx-2 mb-3 px-4 py-[5px] rounded-xl cursor-pointer bg-white" (click)="imgIndex = 3" [ngClass]="{'opacity-60': imgIndex != 3}"></div>
      </div>
    </div>
  </div>
  <div class="flex mt-16 mb-20 justify-around">
    <div class="p-1"></div><!--Spacer-->

    <div class="flex-wrap w-80 p-3 shadow-lg hover:scale-[1.03] transition-transform  bg-white rounded-xl">
      <img class="mx-auto mb-4 rounded-lg" src="assets/motos/motoCard1.jpg">
      <div class="mb-3 text-xl font-bold">Modelo da moto</div>
      <div class="mb-3 text-justify font-extralight">Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus cupiditate quam adipisci amet. Tenetur, repudiandae.</div>
      <div class="text-2xl mb-3 font-bold">R$99,99</div>
      <div class="flex h-10 justify-center items-center cursor-pointer rounded-md bg-blue-500 text-lg font-semibold text-white">Comprar</div>
    </div>

    <div class="flex-wrap w-80 p-3 shadow-lg hover:scale-[1.03] transition-transform  bg-white rounded-xl">
      <img class="mx-auto mb-4 rounded-lg" src="assets/motos/motoCard2.webp">
      <div class="mb-3 text-xl font-bold">Modelo da moto</div>
      <div class="mb-3 text-justify font-extralight">Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus cupiditate quam adipisci amet. Tenetur, repudiandae.</div>
      <div class="text-2xl mb-3 font-bold">R$99,99</div>
      <div class="flex h-10 justify-center items-center cursor-pointer rounded-md bg-blue-500 text-lg font-semibold text-white">Comprar</div>
    </div>

    <div class="flex-wrap w-80 p-3 shadow-lg hover:scale-[1.03] transition-transform  bg-white rounded-xl">
      <img class="mx-auto mb-4 rounded-lg" src="assets/motos/motoCard3.png">
      <div class="mb-3 text-xl font-bold">Modelo da moto</div>
      <div class="mb-3 text-justify font-extralight">Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus cupiditate quam adipisci amet. Tenetur, repudiandae.</div>
      <div class="text-2xl mb-3 font-bold">R$99,99</div>
      <div class="flex h-10 justify-center items-center cursor-pointer rounded-md bg-blue-500 text-lg font-semibold text-white">Comprar</div>
    </div>

    <div class="flex-wrap w-80 p-3 shadow-lg hover:scale-[1.03] transition-transform  bg-white rounded-xl">
      <img class="mx-auto mb-4 rounded-lg" src="assets/motos/motoCard4.png">
      <div class="mb-3 text-xl font-bold">Modelo da moto</div>
      <div class="mb-3 text-justify font-extralight">Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus cupiditate quam adipisci amet. Tenetur, repudiandae.</div>
      <div class="text-2xl mb-3 font-bold">R$99,99</div>
      <div class="flex h-10 justify-center items-center cursor-pointer rounded-md bg-blue-500 text-lg font-semibold text-white">Comprar</div>
    </div>

    <div class="p-1"></div><!--Spacer-->
  </div>
</div>
