<div [ngClass]="{'dark': darkMode}">
  <div class="flex w-screen py-1 justify-between bg-blue text-white text-5xl font-serif font-semibold italic">
    <div class="w-16"></div><!--Spacer-->
    <div class="cursor-pointer" routerLink="/">Site Motos</div>
    <div class="cursor-pointer my-auto mr-5" routerLink="login">
      <svg xmlns="http://www.w3.org/2000/svg" class="h-10 w-10" viewBox="0 0 20 20" fill="currentColor">
        <path fill-rule="evenodd" d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-6-3a2 2 0 11-4 0 2 2 0 014 0zm-2 4a5 5 0 00-4.546 2.916A5.986 5.986 0 0010 16a5.986 5.986 0 004.546-2.084A5 5 0 0010 11z" clip-rule="evenodd" />
      </svg>
    </div>
  </div>

  <div class="absolute h-screen w-[252px] -ml-52 pr-2 py-3 bg-darkBlue float-left transition-all duration-500 ease-in-out" [ngClass]="{'ml-0': chevState}">
    <div class="h-10">
      <div class="h-8 w-8 float-right cursor-pointer transition-transform duration-500 ease-in-out" (click)="chevState = !chevState" [ngClass]="{'rotate-180': chevState }">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="white" stroke-width="2">
          <path stroke-linecap="round" stroke-linejoin="round" d="M9 5l7 7-7 7" />
        </svg>
      </div>
    </div>

    <div class="felx-col py-2 ml-12 mt-2 -mr-2 rounded-l-xl bg-blue text-white">
      <div class="flex justify-end cursor-pointer" (click)="folderCategorias = !folderCategorias; chevState == false ? chevState = !chevState : chevState = chevState">
        <span class="mr-4 text-xl transition-transform duration-500">Categorias</span>
        <div class="h-8 w-8 mt-1 mr-1 transition-transform duration-500" [ngClass]="{'rotate-180': folderCategorias}">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="white">
            <path d="M3 3a1 1 0 000 2h11a1 1 0 100-2H3zM3 7a1 1 0 000 2h7a1 1 0 100-2H3zM3 11a1 1 0 100 2h4a1 1 0 100-2H3zM15 8a1 1 0 10-2 0v5.586l-1.293-1.293a1 1 0 00-1.414 1.414l3 3a1 1 0 001.414 0l3-3a1 1 0 00-1.414-1.414L15 13.586V8z" />
          </svg>
        </div>
      </div>
        <div class="transition-all duration-500" [ngClass]="{'hidden': !folderCategorias}">
          <div class="ml-3 py-2 mt-3 cursor-pointer text-lg" (click)="chevState = !chevState; folderCategorias = !folderCategorias" routerLink="trail">
            Trail
          </div>
          <div class="ml-3 py-2 cursor-pointer text-lg" (click)="chevState = !chevState; folderCategorias = !folderCategorias" routerLink="touring">
            Touring
        </div>
          <div class="ml-3 py-2 cursor-pointer text-lg" (click)="chevState = !chevState; folderCategorias = !folderCategorias" routerLink="street">
            Street
        </div>
          <div class="ml-3 py-2 cursor-pointer text-lg" (click)="chevState = !chevState; folderCategorias = !folderCategorias" routerLink="sport">
            Sport
          </div>
          <div class="ml-3 py-2 cursor-pointer text-lg" (click)="chevState = !chevState; folderCategorias = !folderCategorias" routerLink="scooter">
            Scooter
        </div>
          <div class="ml-3 py-2 cursor-pointer text-lg" (click)="chevState = !chevState; folderCategorias = !folderCategorias" routerLink="custom">
            Custom
        </div>
        </div>
    </div>
  </div>
</div>
