.bg-gray { background-color: #000814; }
.bg-darkBlue { background-color: #001d3d; }
.bg-blue { background-color: #003566; }
.bg-orange { background-color: #ffc300; }
.bg-yellow { background-color: #ffd60a; }

