<div class="w-full h-screen" [ngClass]="{'dark': darkMode}">
  <div class="flex justify-center">
    <div class="w-full max-w-sm md:max-w-xl mt-32">
      <form class="bg-white shadow-lg rounded px-8 pt-6 pb-8 mx-4 mb-4">
        <div class="my-4">
          <label class="block text-gray-700 text-base font-bold mb-2" for="email">
            Email
          </label>
          <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none" id="email" type="text" placeholder="Ex. joaodasilva@gmail.com">
        </div>
        <div class="my-4 mt-5">
          <label class="block text-gray-700 text-base font-bold mb-2" for="senha">
            Senha
          </label>
          <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none" id="senha" type="password" placeholder="****************************">
        </div>
        <div class="flex w-full justify-center ">
          <button class="w-full bg-indigo-600 hover:bg-indigo-800 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="submit">
            Continuar
          </button>
        </div>
        <div class="mt-4">
          <p class="text-neutral-600">Ainda não é um cliente nosso? <a routerLink="/cadastro-clientes" class="text-indigo-600 text-base text-bold hover:text-indigo-800">Cadastre-se</a></p>
        </div>
      </form>
      <p class="text-center text-gray-500 text-xs">
        &copy;2022 Pablo Latapiat. All rights reserved.
      </p>
    </div>
  </div>
</div>
